/* index.css */
@font-face{
  font-family: Montserrat;
  src: url("../src/assets/fonts/Montserrat-Regular.ttf")
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme{
  --font-mont :Montserrat,"san-serif" ;
}